body {
  text-align: center;
}

nav {
  background: #808080;
}

nav a {
  text-decoration: none;
  background: #ffbf00;
  color: white;
  padding: 35px;
  display: block;
  float: left;
}

nav a:hover {
  background: #ee5f3c;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

h1 {
  color: rgb(2, 132, 130);
}

h2 {
  color: #ffd700;
}

#game-board {
  width: 50%;
  height: 50%;
  margin: 8%;
  display: inline-block;
}

.card {
  height: 200px;
  width: 150px;
  border: solid black 1px;
  background: yellow;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.name {
  color: #ff0000;
}

footer {
  background: #808080;
  clear: both;
}

header, footer, p {
  text-align: center;
}
